.back{
    height:100vh;
    width:100vw;
    background-image: url(background.png);
    background-size:cover;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
a img {
    border-radius: 50%;
    border: 10px solid rgb(247, 55, 16);
}
a img:hover{
    border-color: aqua;
}
